/*-- scss:defaults --*/
// Base document colors
$link-color: rgb(21, 179, 241);
$body-bg:black;
$body-color:rgb(255, 255, 255);


// Code blocks
$code-block-bg:rgba(70, 70, 70, 0.912);
$code-color:black;
$code-bg:rgba(155, 139, 139, 0.997);
$btn-code-copy-color:white;
$btn-code-copy-color-active:white;
$code-copy:true;
